<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Files and Folders</title>
  <link rel="stylesheet" href="/stylesheets/folderStyles.css">
  <script src="/javascripts/folderScripts.js" defer></script>
  <script src="/javascripts/dropdown.js" defer></script>
</head>
<body>
<header>
  <nav class="links">
    <a href="/">Home</a>
    <a href="/register">Register</a>
    <% if (userName !== "Guest") { %>
      <form action="/logout?_method=DELETE" method="post">
        <button type="submit">Logout</button>
      </form>
    <% } else { %>
      <a href="/login">Login</a>
    <% } %>
    <a href="/files">Files</a>
  </nav>
</header>

<div class="folderList-Container">
  <% folders.forEach(folder => { %>
    <div class="folder-container">
      <a class="folder-link" href="/folder/<%= folder.id %>">
        <div class="folder-icon">
          <img src="/images/folder.png" alt="Folder Icon">
        </div>
        <div class="folder-name">
          <span><%= folder.name %></span>
        </div>
      </a>

      <div class="drpdown" data-dropdown>
        <button class="drpdownMenuButton" data-dropdown-button>...</button>
        <div class="drpdownMenu">

<button type="button" onclick="openFolderPopup(() => buildEditFolderForm(this))">Edit</button>
          <button type="button" onclick="deleteFolder(this)">Delete</button>
        </div>
      </div>
    </div>
  <% }) %>
</div>

<button class="add" onclick="openFolderPopup(buildCreateFolderForm)">+ Folder</button>

</body>
</html>


