<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>


      <h1>Members Only</h1>
      <nav class="links">
        <a href="/">Home</a>
        <a href="/register">Register</a>
             <% if (userName !=="Guest") { %>
             <form action="/logout?_method=DELETE" method="post">
        <button type="submit">Logout</button>
      </form>
        <% } else { %>
          <a href="/login">Login</a>
        <% } %>

        <a href="/files">Files</a>
      </nav>
    </header>




  </body>
</html>