<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/styles.css"/>
    <link rel="stylesheet" href="/stylesheets/folderStyles.css">
    <script src="/javascripts/folderScripts.js" defer></script>
    <script src="/javascripts/dropdown.js" defer></script>
</head>
<body>
<header class="index-header">

    <div class="index-header-left-container">
        <div class="user-logo-container">
            <% const userInitial = (userName || 'Guest').trim().charAt(0).toUpperCase(); %>
            <h1 class="user-logo"><%= userInitial %></h1>
        </div>
        <div class="title-container">
            <h1>File Uploader</h1>
        </div>
    </div>



</header>

<main class="index-main">


    <div class="main-left-container">
        <div class="sidebar">
            <a href="/"><button class="sidebar-button">Home</button></a>
            <button class="add" onclick="openFolderPopup(buildCreateFolderForm)">+ Folder</button>
            <form action="/logout?_method=DELETE" method="post">
                <button type="submit">Logout</button>
            </form>
          

        </div>
    </div>

    <div class="main-right-container">
        <div class="folder-info-bar">
            <span>Name</span>
            <span>Uploaded</span>
          
        </div>
        <div class="folderList-Container">
            <% folders.forEach(folder => { %>
                <section class="folder-container">
                    <a class="folder-link" href="/folder/<%= folder.id %>">
                        <div class="folder-icon">
                            <img src="/images/folder.png" alt="Folder Icon">
                        </div>
                        <div class="folder-name">
                            <span><%= folder.name %></span>
                        </div>
                        <div class="folder-date">
                            <span><%= new Date(folder.date).toISOString().slice(0, 10) %></span>
                        </div>
                    </a>
                    <div class="drpdown" data-dropdown>
                        <button class="drpdownMenuButton" data-dropdown-button>...</button>
                        <div class="drpdownMenu">
                            <button type="button" onclick="openFolderPopup(() => buildEditFolderForm(this))">Edit</button>
                            <button type="button" onclick="deleteFolder(this)">Delete</button>
                        </div>
                    </div>
                </section>
            <% }) %>
        </div>
     
    </div>
</main>
</body>
</html>
